{% load static compress %}
<!DOCTYPE HTML>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <title>Notation W</title>


    <link rel="icon" type="image/png" href="{% static 'playground/img/favicon.png' %}">

    <link rel=icon href="{% static 'playground/img/favicon.png' %}" sizes="32x32" type="image/png">
    <link rel=icon href="{% static 'playground/img/favicon-192.png' %}" sizes="192x192" type="image/png">

    <link rel="stylesheet" href="{% static 'playground/vendors/reset.css' %}">
    <link rel="stylesheet" href="{% static 'playground/vendors/backbone.autocomplete.css' %}">

    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'playground/css/styles.css' %}">
    {% endcompress %}

    <script id="about-template" type="text/template">
    {% include "playground/underscore/about.mtpl" %}
    </script>

    <script id="credits-template" type="text/template">
    {% include "playground/underscore/credits.mtpl" %}
    </script>

    <script id="applied-filters-template" type="text/template">
    {% include "playground/underscore/applied-filters.mtpl" %}
    </script>

    <script id="attachment-audio-template" type="text/template">
    {% include "playground/underscore/node-attachment-audio.mtpl" %}
    </script>
    
    <script id="attachment-vimeo-template" type="text/template">
    {% include "playground/underscore/node-attachment-vimeo.mtpl" %}
    </script>

    <script id="attachment-download-template" type="text/template">
    {% include "playground/underscore/node-attachment-download.mtpl" %}
    </script>

    <script id="attachment-image-template" type="text/template">
    {% include "playground/underscore/node-attachment-image.mtpl" %}
    </script>

    <script id="attachment-pdf-template" type="text/template">
    {% include "playground/underscore/node-attachment-pdf.mtpl" %}
    </script>

    <script id="base-template" type="text/template">
    {% include "playground/underscore/base.mtpl" %}
    </script>

    <script id="search-template" type="text/template">
    {% include "playground/underscore/search.mtpl" %}
    </script>

    <script id="pagination-template" type="text/template">
    {% include "playground/underscore/pagination.mtpl" %}
    </script>

    <script id="create-template" type="text/template">
    {% include "playground/underscore/create.mtpl" %}
    </script>

    <script id="field-alternative-template" type="text/template">
    {% include "playground/underscore/field-alternative.mtpl" %}
    </script>

    <script id="field-attachment-template" type="text/template">
    {% include "playground/underscore/field-attachment.mtpl" %}
    </script>

    <script id="field-attachment-upload-template" type="text/template">
    {% include "playground/underscore/field-attachment-upload.mtpl" %}
    </script>

    <script id="field-attachment-url-template" type="text/template">
    {% include "playground/underscore/field-attachment-url.mtpl" %}
    </script>
    
    <script id="field-boucle-template" type="text/template">
    {% include "playground/underscore/field-boucle.mtpl" %}
    </script>

    <script id="field-effectif-template" type="text/template">
    {% include "playground/underscore/field-effectif.mtpl" %}
    </script>

    <script id="filters-template" type="text/template">
    {% include "playground/underscore/filters.mtpl" %}
    </script>

    <script id="header-template" type="text/template">
    {% include "playground/underscore/header.mtpl" %}
    </script>

    <script id="help-template" type="text/template">
    {% include "playground/underscore/help.mtpl" %}
    </script>

    <script id="home-template" type="text/template">
    {% include "playground/underscore/home.mtpl" %}
    </script>

    <script id="login-template" type="text/template">
    {% include "playground/underscore/login.mtpl" %}
    </script>

    <script id="logout-template" type="text/template">
    {% include "playground/underscore/logout.mtpl" %}
    </script>

    <script id="node-form-template" type="text/template">
    {% include "playground/underscore/node-form.mtpl" %}
    </script>

    <script id="node-inline-form-template" type="text/template">
    {% include "playground/underscore/node-inline-form.mtpl" %}
    </script>

    <script id="node-template-vue" type="text/template">
    {% include "playground/underscore/node-vue.mtpl" %}
    </script>

    <script id="permissions-template" type="text/template">
    {% include "playground/underscore/permissions.mtpl" %}
    </script>

    <script id="permission-item-template" type="text/template">
    {% include "playground/underscore/permission-item.mtpl" %}
    </script>

    <!-- Perhaps remove -->
    <script id="rangefield-template" type="text/template">
    {% include "playground/underscore/rangefield.mtpl" %}
    </script>

    <script id="register-template" type="text/template">
    {% include "playground/underscore/register.mtpl" %}
    </script>

    <script id="score-item-template" type="text/template">
    {% include "playground/underscore/score-item.mtpl" %}
    </script>

    <script id="score-template-form" type="text/template">
    {% include "playground/underscore/score-form.mtpl" %}
    </script>

    <script id="score-list-template" type="text/template">
    {% include "playground/underscore/score-list.mtpl" %}
    </script>

    <script id="score-template-vue" type="text/template">
    {% include "playground/underscore/score-vue.mtpl" %}
    </script>

    <script id="search-panel-template" type="text/template">
    {% include "playground/underscore/search-panel.mtpl" %}
    </script>

    <script id="search-template" type="text/template">
    {% include "playground/underscore/search.mtpl" %}
    </script>

    <script id="share-with-template" type="text/template">
    {% include "playground/underscore/share-with.mtpl" %}
    </script>

    <script id="slider-template" type="text/template">
    {% include "playground/underscore/slider.mtpl" %}
    </script>

    <script id="user-detail-template" type="text/template">
    {% include "playground/underscore/user-detail.mtpl" %}
    </script>

    <script id="user-list-template" type="text/template">
    {% include "playground/underscore/user-list.mtpl" %}
    </script>

    <script id="node-tree-template" type="text/template">
    {% include "playground/underscore/node-tree.mtpl" %}
    </script>
</head>

<body class="page">
    <script src="{% static 'playground/vendors/jquery.min.js' %}"></script>
    <script src="{% static 'playground/vendors/underscore-min.js' %}"></script>
    <script src="{% static 'playground/vendors/backbone-min.js' %}"></script>
    <script src="{% static 'playground/vendors/backbone.radio.min.js' %}"></script>
    <script src="{% static 'playground/vendors/backbone.marionette.min.js' %}"></script>
    <script src="{% static 'playground/vendors/backbone.marionette.templatecache.min.js' %}"></script>
    <script src="{% static 'playground/vendors/backbone.marionette.approuter.min.js' %}"></script>
    <script src="{% static 'playground/vendors/backbone-relational.min.js' %}"></script>
    <script src="{% static 'playground/vendors/backbone.paginator.min.js' %}"></script>
    <script src="{% static 'playground/vendors/backbone.autocomplete.js' %}"></script>
    <script src="{% static 'playground/vendors/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'playground/vendors/jquery-ui.min.js' %}"></script>
    <script src="{% static 'playground/vendors/jquery.mjs.nestedSortable.js' %}"></script>
    <script src="{% static 'playground/vendors/jquery.autocomplete.min.js' %}"></script>

    <script src="{% static 'playground/js/i18n/fr.js' %}"></script>
    <script src="{% static 'playground/js/i18n/en.js' %}"></script>
    <script src="{% static 'playground/js/utils.js' %}"></script>
    <script src="{% static 'playground/js/extendedTemplate.js' %}"></script>
    <script src="{% static 'playground/js/models.js' %}"></script>
    <script src="{% static 'playground/js/collections.js' %}"></script>
    <script src="{% static 'playground/js/behaviors.js' %}"></script>
    <script src="{% static 'playground/js/views.js' %}"></script>
    <script src="{% static 'playground/js/controllers.js' %}"></script>
    <script src="{% static 'playground/js/routers.js' %}"></script>
    <script src="{% static 'playground/js/apps.js' %}"></script>
    <script src="{% static 'playground/js/main.js' %}"></script>
</body>
</html>
