body {
    margin: 100px;
}


ol ol {
    padding-left: 3em;
    opacity: .8;
}

div {
    padding: .5em;
    background-color: grey;
    border: 3px solid white;
}


.add {
    float: right;
    background-color: white;
    width: 1em;
    text-align: center;
}

[data-tag="ordered"] > li > ol > li > div:before {
    content: "> ";
}
