<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Notation W</title>
<link rel="stylesheet" type="text/css" href="w.backbone.css" />
</head>

<body>

  <div class="container"></div>
  <div id="input_container"></div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="http://backbonejs.org/backbone-min.js"></script>
  <script type="text/template" id="input_template">
    <p class="desc">
      <label><%= titrelabel %></label>
      <textarea id="input">{"titre":"Mon titre", "children":[{"titre":"titre enfant","children":[{"titre":"Petit enfant"}]},{"titre":"titre enfant2"}]}</textarea></p>
      <p><input type="button" id="parse" value="parse"></p>
      <p id="desc">éléments décodés</p>
      <p id="output"></p>
    </script>
  <script id="axisTemplate" type="text/template">
	<strong><%= titre %></strong> (<%= contingent %>) - <%= module_ %>
</script>
 <script src="w.backbone.axis.js"></script>
  </body>

  </html>
